.workspace-container {
  height: 100%;
  display: flex;
  flex: 4 0 auto;
  flex-direction: row;
  overflow: auto;
  min-width: 800px;
}

.workspace-container>span {
  width: 1px;
  margin: 1px;
  cursor: row-resize;
  background-color: gray;
}

.workspace {
  height: 100%;
  flex: 1;
  padding: 5px;
}
