.header-container {
    min-height: 40px;
    display: flex;
}

.header-container li {
    list-style: none;
}

/* left section */
.header-section-container {
    height: 100%;
    flex: 3;
}

.header-dropdown-menu-container {
    height: 100%;
    width: 40px;
    position: relative;
}

.header-dropdown-menu-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background-color);
}

.header-dropdown-item-container {
    position: absolute;
    background-color: var(--menu-bg-color);
    box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    display: flex;
    flex-direction: column;
}

#hdic-left {
    height: 450px;
    width: 300px;
    top: calc(100%);
    left: 0;
    font-size: 20px;
}

.header-dropdown-menu-button:hover+.header-dropdown-item-container,
.header-dropdown-item-container:hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header-dropdown-item {
    padding-left: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.header-dropdown-item:hover {
    background-color: gray;
}

/* homepage shortcut */
.header-homepage-shortcut-container {
    height: 100%;
    flex: 1;
    min-width: 150px;
}

.header-homepage-link {
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--icon-letter-size);
    letter-spacing: var(--icon-letter-spacing);
}

/* right section */
#hsc-right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

#hsc-right>span {
    width: 1px;
    height: calc(var(--header-height) - 16px);
    align-self: center;
    background-color: rgb(87, 87, 87);
}

.header-right-element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-right-element>button {
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
    margin: 5px;
}

.setting-container {
    width: var(--header-height);
}

.about-container {
    width: 80px;
}

.login-container {
    width: 80px;
}

#hdic-login {
    height: 300px;
    width: 450px;
    top: calc(100%);
    right: calc(-80px - var(--header-height));
    font-size: 20px;
}

#hdic-settings {
    height: calc(var(--header-height) * 3);
    width: var(--header-height);
    top: calc(100%);
    right: 0;
    font-size: 20px;
}

#hrdmb-settings {
    font-size: 20px;
}

#hrdmb-settings>span {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    transition: transform 200ms ease-in-out;
}

#hrdmb-settings>span:hover {
    transform: rotate(0deg);
}

.setting-item {
    width: var(--header-height);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.setting-item>button {
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: var(--menu-bg-color);
    border: none;
}

.setting-item>button:hover {
    background-color: gray;
}