.debug-view-container {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.debug-view-section-container {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.debug-view-section-header {
    width: 100%;
    max-height: var(--main-components-header-height);
    min-height: var(--main-components-header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-components-header-bg-color);
}

.debug-view-section-content {
    width: 100%;
    flex: auto;
    padding: var(--main-components-padding);
    padding-left: var(--main-components-header-height);
    display: flex;
    flex-direction: column;
    overflow: auto;
    white-space: pre;
}

.minimize-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--main-components-header-height);
    height: var(--main-components-header-height);
    min-width: var(--main-components-header-height);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.minimize-panel-button:hover {
    transform: rotate(90deg);
}

