* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  --default-font: "Times New Roman";
  --header-height: 40px;
  --main-components-padding: 5px;
  --main-components-header-height: 25px;
  --scrollbar-width: 12px;
  --scrollbar-border-radius: 5px;
  --gutter-hover-focus-width: 3px;
  --icon-letter-size: 25px;
  --icon-letter-spacing: 5px;
  --background-color: #2e2e2e;
  --border-color: #505558;
  --custom-color: #1e1e24;
  --scrollbar-track-color: gray;
  --menu-bg-color: #424446;
  
  --gray: rgb(228, 217, 217);
  /* --gray: rgb(151, 144, 144); */
  /* --menu-bg-color: #e0dddd; */
}

* button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  border-right: none;
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

/* *::-webkit-scrollbar-track {
  background-color: "white";
} */

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-border-radius);
}

*::-webkit-scrollbar-corner {
  display: none;
}

body {
  background-color: var(--background-color);
  font-size: 16;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 300px;
  min-width: 500px;
}

.main-container {
  height: calc(100% - var(--header-height));
  width: 100%;
  display: flex;
}

.gutter {
  background-color: var(--border-color);
  transition: padding 300ms ease-in-out;
}

.gutter-horizontal {
  cursor: col-resize;
}

.gutter-vertical {
  cursor: row-resize;
}

.gutter:hover {
  padding: var(--gutter-hover-focus-width);
}