* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  --background-color: #2e2e2e;
  --header-height: 40px;
  --main-components-padding: 5px;
  --main-components-header-height: 25px;
  --main-components-header-bg-color: #252525;
  --border-color: #505558;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--background-color);
  font-size: 16;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 300px;
  min-width: 500px;
}

.main-container {
  height: calc(100% - var(--header-height));
  width: 100%;
  display: flex;
}

.gutter {
  background-color: var(--border-color);
}

.gutter-horizontal {
  cursor: col-resize;
}

.gutter-vertical {
  cursor: row-resize;
}

.gutter:hover {
  padding: 3px;
}