* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --header-height-to-body: 5%;
  --main-components-padding: 5px;
}

body {
  margin: 0;
  background-color: #636d83;
  font-size: 16;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-container {
  height: calc(100% - var(--header-height-to-body));
  width: 100%;
  display: flex;
  flex-direction: row;
}